@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 590px;
    height: 100vh;
    margin: 0 auto;
}

header {
    padding: 15px;
    color: #fff;
}

header .title {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

header .title i{
    font-size: 24px;
}

header .title span {
    font-size: 18px;
}

header .description {
    font-size: 13px;
}

.content {
    padding: 15px;
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-control {
    width: 100%;
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: transparent;
    border-radius: 5px;
    color: #fff;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

.text-orange {
    color: orange;
}

.text-red {
    color: red;
}

.task-item.done span {
    text-decoration: line-through;
    color: #ccc;
}


